<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>Simple chat</title>
	<meta name="description" content="">
	
	<!--<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>    

<section class="main" id="vue-chat">
    <div class="chat">
        <div class="chat-title">Simple chat</div>
        <div class="chat-container">
           
            <div class="chat-users">
               
                <div class="user" 
                    v-bind:class="{ 'user-active': user.isActive, 'user-got-msg': user.isNew, 'types-active': user.isTypes }"
                    v-on:click="userClick(user)"
                    v-for="user in users">
                    
                        <div class="user-img"><img v-bind:src="user.img" alt=""></div>
                        <div class="user-nick">{{ user.nick }}
                            <div class="user-new-msg">+999</div>
                        </div>
                        <div class="user-txt">Привет, как дела?</div>
                        <div class="user-types">
                            <span class="types-text">Собеседник печатает</span>
                            <span class="dot dot-1">.</span>
                            <span class="dot dot-2">.</span>
                            <span class="dot dot-3">.</span>
                        </div>
                        <div class="user-time">12:00</div>
                </div>
                
            </div>
            
            <div class="chat-inner">
                <div class="loading" v-bind:class="{ 'active': loadingActive }">
                    <div class="loading-img">
                        <img src="./img/loading.gif" alt="">
                    </div>
                </div>
                
                <div class="chat-messages" v-bind:class="{ 'chat-active': chatActive }">
                    <div class="chat-message">
                        <div class="chat-message-time">12 дек 2017</div>
                    </div>

                    <div class="chat-message" v-for="message in messages">
                        <div class="message-txt" v-bind:class="{ 'message-companion': message.isCompanion }">
                            {{ message.text }}
                            <div class="message-time"><div class="msg-time">12:00</div></div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="chat-submit">
                <textarea name="" id="textarea" cols="30" rows="10" v-model="newMessage" v-on:keyup.ctrl.enter="addMessage" :disabled="textareaDisabled"></textarea>
                <div class="ctrl-enter">Ctrl+Enter</div>
            </div>
        </div>
    </div>
</section>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/vue.js"></script>

<script src="js/vue-script.js"></script>

</body>
</html>